<section data-ng-controller="WalkersController">
    <p class="slide"></p>
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10">
        <form class="" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="sectiontitle">
                    <h3>Registrar wappy</h3>
                </div>
                <p class="slide"></p>
                <div class="row wappyRegistrarRow">
                    <div class="col-sm-6 col-md-3 wappyRegistrarDiv">
                        <h4 class="wappyTitulo">Información general</h4>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="form-group">
                        <div data-ng-show="error" class="text-center text-danger">
                            <div class="alert alert-danger" role="alert"><strong data-ng-bind="error"></strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <img class="imgCms" src="modules/walkers/img/3wappies.png">
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-user"></i></span>
                                <input type="text" required id="firstName" name="firstName" class="iniciarSesionInput form-control placeholderSize" data-ng-model="credentials.firstName" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-user"></i></span>
                                <input type="text" required id="lastName" name="lastName" class="iniciarSesionInput form-control placeholderSize" data-ng-model="credentials.lastName" placeholder="Apellidos">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-calendar"></i></span>
                                <input type="text" required id="birthDate" name="birthDate" class="iniciarSesionInput form-control placeholderSize" data-ng-model="credentials.birthDate" placeholder="Fecha de nacimiento">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-push-6">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-asterisk"></i></span>
                                <input type="text" required id="sex" name="sex" class="iniciarSesionInput form-control placeholderSize" data-ng-model="credentials.sex" placeholder="Sexo">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-phone-alt"></i></span>
                                <input type="text" required id="telephone" name="telephone" class="iniciarSesionInput form-control placeholderSize" data-ng-model="credentials.telephone" placeholder="Teléfono">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-pull-6">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-envelope"></i></span>
                                <input type="text" required id="email" name="email" class="iniciarSesionInput form-control placeholderSize" data-ng-model="credentials.email" placeholder="Correo electrónico">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-user"></i></span>
                                <input type="text" required id="username" name="username" class="iniciarSesionInput form-control placeholderSize" data-ng-model="credentials.username" placeholder="Nombre de usuario">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-asterisk"></i></span>
                                <input type="text" required id="password" name="password" class="iniciarSesionInput form-control placeholderSize" data-ng-model="credentials.password" placeholder="Contraseña">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-center form-group">
                            <button type="submit" class="iniciarSesionBtn btn btn-lg btn-block">Guardar</button>
                        </div>
                    </div>
                </div>
                <p class="slide"></p>
                <div class="row wappyRegistrarRow">
                    <div class="col-md-6 wappyRegistrarDiv">
                        <h4 class="wappyTitulo">Cuestionario internacional de actividad física</h4>
                    </div>
                </div>
                </br>
                <p class="slide"></p>
                <div class="row wappyRegistrarRow">
                    <div class="col-md-7 wappyRegistrarDiv">
                        <h4 class="wappyTitulo">Cuestionario cumplimiento de dieta la mediterránea</h4>
                    </div>
                </div>
                </br>
            </fieldset>
        </form>
    </div>
</section>
