<section data-ng-controller="WalkersController">
    <p class="slide"></p>
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10">
        <form class="" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="sectiontitle">
                    <h3>Registrar wappy</h3>
                </div>
                <p class="slide"></p>
                <div class="row wappyRegistrarRow">
                    <div class="col-sm-6 col-md-3 wappyRegistrarDiv">
                        <h4 class="wappyTitulo">Información general</h4>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="form-group">
                        <div data-ng-show="error" class="text-center text-danger">
                            <div class="alert alert-danger" role="alert"><strong data-ng-bind="error"></strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                        <img class="imgCms" src="modules/walkers/img/wappyImg.jpg">
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-user"></i></span>
                                <input type="text" required id="firstName" name="firstName" class="iniciarSesionInput form-control placeholderSize" data-ng-model="credentials.firstName" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-user"></i></span>
                                <input type="text" required id="lastName" name="lastName" class="iniciarSesionInput form-control placeholderSize" data-ng-model="credentials.lastName" placeholder="Apellidos">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-calendar"></i></span>
                                <input type="text" required id="birthDate" name="birthDate" class="iniciarSesionInput form-control placeholderSize" data-ng-model="credentials.birthDate" placeholder="Fecha de nacimiento">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-push-6">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-asterisk"></i></span>
                                <input type="text" required id="sex" name="sex" class="iniciarSesionInput form-control placeholderSize" data-ng-model="credentials.sex" placeholder="Sexo">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-phone-alt"></i></span>
                                <input type="text" required id="telephone" name="telephone" class="iniciarSesionInput form-control placeholderSize" data-ng-model="credentials.telephone" placeholder="Teléfono">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-pull-6">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-envelope"></i></span>
                                <input type="text" required id="email" name="email" class="iniciarSesionInput form-control placeholderSize" data-ng-model="credentials.email" placeholder="Correo electrónico">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-user"></i></span>
                                <input type="text" required id="username" name="username" class="iniciarSesionInput form-control placeholderSize" data-ng-model="credentials.username" placeholder="Nombre de usuario">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-asterisk"></i></span>
                                <input type="text" required id="password" name="password" class="iniciarSesionInput form-control placeholderSize" data-ng-model="credentials.password" placeholder="Contraseña">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-center form-group">
                            <button id="saveWappy" type="submit" class="iniciarSesionBtn btn btn-lg btn-block">Guardar</button>
                        </div>
                    </div>
                </div>
                <p class="slide"></p>
                <div class="row wappyRegistrarRow">
                    <div class="col-md-2 wappyRegistrarDiv">
                        <h4 class="wappyTitulo">Rutas</h4>
                    </div>
                </div>
                </br>
                <div class="row press btnRoute">
                    <div class="col-xs-6 col-sm-3">
                        <div class="form-group">
                            <input type="button" value="Arganzuela">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="form-group">
                            <input type="button" value="Ciudad lineal">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="form-group">
                            <input type="button" value="NS - EO">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="form-group">
                            <input type="button" value="San blas">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="form-group">
                            <input type="button" value="Trasera">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="form-group">
                            <input type="button" value="Usera">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="form-group">
                            <input type="button" value="Vallecas">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="form-group">
                            <input type="button" value="Vicálvaro">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="form-group">
                            <input type="button" value="Villaverde">
                        </div>
                    </div>
                </div>
                </br>
                <p class="slide"></p>
                <div class="row wappyRegistrarRow">
                    <div class="col-md-2 wappyRegistrarDiv">
                        <h4 class="wappyTitulo">Grupos</h4>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-sm-6 col-sm-push-6">
                        <div class="form-group"></div>
                    </div>
                </div>
                <p class="slide"></p>
                <div class="row wappyRegistrarRow">
                    <div class="col-md-5 wappyRegistrarDiv">
                        <h4 class="wappyTitulo">Cuestionario de actividad física</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-9">
                        <div class="text-center form-group">
                            <a id="testSport" type="button" ng-click="modalExerciseTest('lg',walker)" class="iniciarSesionBtn btn btn-lg btn-block">Iniciar Test</a>
                        </div>
                    </div>
                </div>
                <p class="slide"></p>
                <div class="row wappyRegistrarRow">
                    <div class="col-md-5 wappyRegistrarDiv">
                        <h4 class="wappyTitulo">Cuestionario de dieta mediterránea</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-9">
                        <div class="text-center form-group">
                            <a id="testDiet" type="button" ng-click="modalDietTest('lg',walker)" class="iniciarSesionBtn btn btn-lg btn-block">Iniciar Test</a>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>
