<section data-ng-controller="WalkersController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Editar wappy</h1>
    </div>
    <div class="col-md-12">
        <form class="" data-ng-submit="" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="firstName">Nombre</label>
                    <div class="controls">
                        <input type="text" data-ng-model="walker.firstName" id="firstName" class="form-control" placeholder="Nombre" required>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>
