@media (min-width: 992px) {
    .nav-users {
        position: fixed;
    }
}
.inputSearch {
    margin-top: 15%;
    border-radius: 0px;
}
.noBorder {
    border: 2px solid !important;
    border-color: #f15900 !important;
    border-radius: 0px;
}
.iniciarSesionFieldset{
    margin: 25% 0;
}
.iniciarSesionAlert{
    border-radius: 0px;
}
.iniciarSesionBtn{
    background-color: #f15900;
    border-radius: 0px !important;
    color: #222;
    font-weight: bold;
}
.iniciarSesionInput{
border:0px;
border-radius: 0px !important;
background-color: #444;
}
.iniciarSesionIcon{
border:0px;
border-radius: 0px !important;
background-color: #222;
}
.homeSearch{
    border: 7px solid !important;
    border-color: #f15900 !important;
    border-radius: 0px !important;
    padding: 15px !important;
}
.homeSearchBtn{
    border: 7px solid !important;
    border-color: #222 !important;
    border-radius: 0px !important;
    background-color: #222;
    color: #f15900;
}
.homeRegistrarBtn{
    background-color: #f15900;
    border-radius: 0px;
    color: #222;
    font-weight: bold;
    margin-top: 15%;
}