<section data-ng-controller="">
    <p class="slide"></p>
    <div id="ei-slider" class="ei-slider">
        <ul class="ei-slider-large">
            <li>
                <img src="http://placehold.it/1400x500/222" alt="image01" class="responsiveslide">
                <div class="ei-title">
                    <h2>Caminar es</h2>
                    <h3>Saludable</h3>
                </div>
            </li>
        </ul>
    </div>
    <p class="slide"></p>
    <div class="row">
        <div class="col-sm-4">
            <div class="inputSearch input-group">
                <input type="text" class="homeSearch form-control placeholderSize" ng-model="searchText" placeholder="Buscar wappy...">
                <span class="input-group-btn">
                        <button class="homeSearchBtn btn" type="button"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-4">
            <div class="text-center form-group">
                <a href="#!/walkers/create" type="button" class="homeRegistrarBtn btn btn-lg btn-block">REGISTRAR</a>
            </div>
        </div>
</section>
