[Service]
WorkingDirectory=/var/www/vhosts/madridsalud.es/wapmadrid.madridsalud.es/wapmadrid
ExecStart=node server.js 
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=wapmadrid
User=root
Group=root
Environment='NODE_ENV=production'
 
[Install]
WantedBy=multi-user.target
