<section data-ng-controller="AuthenticationController">
    <p class="slide"></p>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
            <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
                <fieldset class="iniciarSesionFieldset">
                    <div class="form-group">
                        <div data-ng-show="error" class="text-center text-danger">
                            <div class="iniciarSesionAlert alert alert-danger" role="alert"><strong data-ng-bind="error"></strong>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class=" input-group input-group-lg">
                            <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-user"></i></span>
                            <input type="text" id="username" name="username" class="form-control iniciarSesionInput" data-ng-model="credentials.username" placeholder="Nombre de usuario">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class=" input-group input-group-lg">
                            <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-asterisk"></i></span>
                            <input type="password" id="password" name="password" class="iniciarSesionInput form-control" data-ng-model="credentials.password" placeholder="Contraseña">
                        </div>
                    </div>
                    <div class="text-center form-group">
                        <button type="submit" class="iniciarSesionBtn btn btn-lg btn-block">Iniciar sesión</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
