<section data-ng-controller="SettingsController">
    <p class="slide"></p>
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 login-form-bg">
        <form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="" autocomplete="off">
            <fieldset>
                <div class="form-group">
                    <div data-ng-show="error" class="text-center text-danger">
                        <div class="alert alert-danger" role="alert"><strong data-ng-bind="error"></strong>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-plus"></i></span>
                        <input type="text" required id="name" name="name" class="iniciarSesionInput form-control placeholderSize" data-ng-model="user.name" placeholder="Nombre del centro">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-user"></i></span>
                        <input type="text" id="username" name="username" class="iniciarSesionInput form-control placeholderSize" data-ng-model="user.username" placeholder="Nombre de usuario">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-asterisk"></i></span>
                        <input type="password" id="password" name="password" class="iniciarSesionInput form-control placeholderSize" data-ng-model="user.password" placeholder="Contraseña">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-map-marker"></i></span>
                        <input type="text" id="address" name="address" class="iniciarSesionInput form-control placeholderSize" data-ng-model="user.address" placeholder="Dirección del centro">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-phone-alt"></i></span>
                        <input type="text" id="telephone" name="telephone" class="iniciarSesionInput form-control placeholderSize" data-ng-model="user.telephone" placeholder="Teléfono del centro">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <span class="iniciarSesionIcon input-group-addon" id="basic-addon1"><i class="text-muted glyphicon glyphicon-time"></i></span>
                        <input type="text" id="openingHours" name="openingHours" class="iniciarSesionInput form-control placeholderSize" data-ng-model="user.openingHours" placeholder="Horario de atención al cliente">
                    </div>
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="iniciarSesionBtn btn btn-lg btn-block">Guardar</button>
                </div>
                <div data-ng-show="success" class="text-center text-success">
                    <strong>Cambios guardados</strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
