@media (min-width: 992px) {
    .nav-users {
        position: fixed;
    }
}

.marginTop {
    margin-top: 5%;
}

.walker-profile {
    font-size: 170px;
}

.listBox {
    border-radius: 0px !important;
    border: #333;
    margin-bottom: 5% !important;
    background-color: #333;
}

.listBox:hover {
    background-color: #000 !important;
}

.listBoxName {
    background-color: #111;
    border-radius: 0px;
    padding: 2px;
}

.listBoxName h4 {
    color: #f15900;
}

.listBoxUser {
    background-color: #444;
}

.listBoxUserIcon {
    font-size: 100px;
}

.listSearch {
    border: 7px solid !important;
    border-color: #f15900 !important;
    border-radius: 0px !important;
    padding: 15px !important;
}

.listSearchBtn {
    border: 7px solid !important;
    border-color: #222 !important;
    border-radius: 0px !important;
    background-color: #222;
    color: #f15900;
}

.listSearchBtnIcon {
    top: -1px !important;
}

.listRegistrarBtn {
    background-color: #f15900;
    border-radius: 0px;
    color: #222;
    font-weight: bold;
}

.wappyRegistrarRow {
    margin: 0;
}

.wappyRegistrarDiv {
    background-color: #222;
}

.wappyTitulo {
    color: #f15900;
}
