@media (min-width: 992px) {
    .nav-users {
        position: fixed;
    }
}

.marginTop {
    margin-top: 5%;
}

.walker-profile {
    font-size: 170px;
}

.listBox {
    border-radius: 0px !important;
    border: #333;
    margin-bottom: 5% !important;
    background-color: #333;
}

.listBox:hover {
    background-color: #000 !important;
}

.listBoxName {
    background-color: #111;
    border-radius: 0px;
    padding: 2px;
}

.listBoxName h4 {
    color: #f15900;
}

.listBoxUser {
    background-color: #444;
}

.listBoxUserIcon {
    font-size: 100px;
}

.listSearch {
    border: 7px solid !important;
    border-color: #f15900 !important;
    border-radius: 0px !important;
    padding: 15px !important;
}

.listSearchBtn {
    border: 7px solid !important;
    border-color: #222 !important;
    border-radius: 0px !important;
    background-color: #222;
    color: #f15900;
}

.listSearchBtnIcon {
    top: -1px !important;
}

.listRegistrarBtn {
    background-color: #f15900;
    border-radius: 0px;
    color: #222;
    font-weight: bold;
}

.wappyRegistrarRow {
    margin: 0;
}

.wappyRegistrarDiv {
    background-color: #222;
}

.wappyTitulo {
    color: #f15900;
}

.modal-content {
    border-radius: 0px;
    background-color: #111;
}

.modal-open .modal {
    background-color: rgba(0, 0, 0, 0.8);
}

.press input {
    border: 0;
    background: #222;
    color: #f15900;
    padding: 50px 50px;
    width: 212px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    /* needed for anchors */
    
    position: relative;
    box-shadow: 1px 0px #710096, 0px 1px #893ba3, 2px 1px #710096, 1px 2px #893ba3, 3px 2px #710096, 2px 3px #893ba3, 4px 3px #710096, 3px 4px #893ba3, 5px 4px #710096, 4px 5px #893ba3, 6px 5px #710096, 5px 6px #893ba3;
}

.press input:hover {
    transform: translate(2px, 2px);
    box-shadow: 1px 0px #710096, 0px 1px #893ba3, 2px 1px #710096, 1px 2px #893ba3, 3px 2px #710096, 2px 3px #893ba3, 4px 3px #710096, 3px 4px #893ba3;
}

.press input:focus {
    transform: translate(2px, 2px);
    box-shadow: 1px 0px #710096, 0px 1px #893ba3, 2px 1px #710096, 1px 2px #893ba3, 3px 2px #710096, 2px 3px #893ba3, 4px 3px #710096, 3px 4px #893ba3;
}

.press input:active {
    box-shadow: 1px 0px #710096, 0px 1px #893ba3, 2px 1px #710096, 1px 2px #893ba3;
    transform: translate(4px, 4px);
}
